{% extends 'base.html' %}
{% load retailer_tags %}

{% block main %}

    <div id="register-body">

        <h2 class="orange_h2">CONSUMERS LOVE IT!</h2>

        <div id="register-left">
            re:punch is a tiered virtual punch card that allows you to
            gain deals and discounts as you move towards your next great bonus
            <br />
            <br />

            <div class="orange_box">It is absolutely free to use</div>
            <div class="orange_box">Be financially rewarded for shopping at local retailers</div>
            <div class="orange_box">
                Be further rewarded for more consistent patronage and/or
                sharing your activities with friends
            </div>
        </div>

{% endblock %}


